@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

body,html{
	margin: 0;
}

body {
	text-align: center;
	font-family: 'Montserrat', 'Helvetica', sans-serif;

}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
/*	background-color: #fff;
*/	/*padding-top: 4px;*/
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	/*background-color: #ecc218;*/
	font-size: 0.75em;
	/*padding: 6px;*/
	letter-spacing: 0.5px;
}

.hero {
	background: url(../images/dog-on-grass.jpg);
	padding: 200px 0px;
	background-size: cover;
	background-position: top;
	text-align: left;
	padding-left: 45em;
	margin-bottom: 1.5em;
}

h1 {
	font-size: 18px;
	font-weight: 900;
	line-height: 1.1em;
}

main {
	margin-left: 10em;
	margin-right: 10em;
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

img {
	width: 100%;
}

h2 {
	color: #fff;
	font-size: 3em;
	font-weight: 900;
	margin: 0.25em;
}

h3 {
	font-size: 1.7em;
	font-weight: 700;
		margin: 0.5em;
}

h4 {
	font-size: 1.1em;
	font-weight: 700;
	letter-spacing: 1.15px;
	margin: 0px;
}

h5 {
	font-size: 1em;
	margin-top: .6em;
	margin-bottom: 0;
}


a {
	text-decoration: none;
	color: #000;
}

p {
	font-size: 1em;
	margin: 0;
}

hr {
	height: 3px;
	width: 50px;
	background-color: #ecc218;
	border: none;
	margin: 10px auto;
}

.navlinks {
	padding: 1.5em;
}

.fosters {
	color: #fff;
	background: url(../images/bones.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px;
	margin: 30px 0px;
	border: 1px black solid;
}

.instagram {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

.featured {
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

.button1 {
	color: #fff;
	text-transform: uppercase;
	background-color: #000;
	display: inline-block;
	padding: 8px 16px;
	border-radius: 5px;
	border: none;
	font-size: 12px;
	text-align: center;
	letter-spacing: .75px;
	font-weight: 400;
}

.button2 {
	color: #000;
	text-transform: uppercase;
	background-color: #ecc218;
	display: inline-block;
	padding: 8px 16px;
	border-radius: 5px;
	border: none;
	font-size: 12px;
	text-align: center;
	letter-spacing: .75px;
	font-weight: 400;
	margin-top: 20px;
}

.roundimage {
	width: 250px;
	height: 250px;
	margin-top: 1em;
}

.squareimage {
	width: 350px;
	height:350px;
	margin: 0.5em;
}

.stories {
	background-color: #000;
	color: #fff;
	padding: 30px;
}

span {
	font-weight: bold;
}

#rectangleimage {
	width: 600px;
	margin: 0.5em;
}

.logolink {
	width: 40px;
	padding: 0.1em;
}

footer {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	/*background-color: #ecc218;*/
	text-align: left;
	/*padding: 25px;*/
}